<ion-header>
  <ion-toolbar>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="aboutUs mb-16 sm:mb-24 mt-8 sm:mt-14 bg-gradient-to-r from-[#06668C] to-[#228fb9] px-4 sm:px-8 py-8 sm:py-12 rounded-3xl shadow-2xl transform transition-transform duration-500 hover:scale-105 relative overflow-hidden mx-4 sm:mx-0">
    <div class="absolute inset-0 bg-[url('/assets/wave.svg')] bg-cover bg-center opacity-20"></div>

    <h2 class="text-2xl sm:text-4xl mb-6 sm:mb-10 font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-white to-[#d6f2ff] drop-shadow-2xl tracking-wide uppercase text-center">
      Qui Sommes-Nous ?
    </h2>

    <div class="max-w-2xl mx-auto text-center bg-white/20 backdrop-blur-sm rounded-2xl p-4 sm:p-6 shadow-lg">
      <p class="text-white text-sm sm:text-lg leading-relaxed mb-4 sm:mb-6">
        Clinic Saada, située au cœur de Tunis, est un établissement de santé de premier plan, offrant une gamme complète de services médicaux. Notre équipe de professionnels expérimentés est dédiée à assurer votre santé et votre bien-être.
      </p>
      <p class="text-white text-sm sm:text-lg leading-relaxed mb-4 sm:mb-6">
        Nous nous engageons à fournir des soins de haute qualité, dans un environnement moderne et accueillant. Que ce soit pour une consultation de routine ou un traitement spécialisé, Clinic Saada est là pour vous accompagner à chaque étape.
      </p>
    </div>

    <button class="mt-6 sm:mt-8 px-6 sm:px-8 py-2 sm:py-3 bg-gradient-to-r from-white to-[#d6f2ff] text-[#06668C] font-semibold rounded-full hover:from-[#d6f2ff] hover:to-white transition-all duration-300 transform hover:scale-110 shadow-lg hover:shadow-2xl">
      En savoir plus
    </button>
  </div>
</ion-content>