
  <ion-content>
    <div >
      <ion-button color="transparent" style="background-color: transparent;" ion-button menuToggle class="menu-btn" menuId="main-menu" contentId="main-content">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
      <!-- <ion-buttons  class="menu-btn" >
        
        <ion-menu-button color="light" menuId="main-menu" contentId="main-content"></ion-menu-button>
      </ion-buttons> -->
    </div>
    <div class="top">
      <div class="nameText">
        <p>Bonjour <span>Mr. Hamed</span> </p><br>
        <h6>Patient N°01254</h6>

      </div>
      <div class="imfDoctr">
        <img src="assets/patients/patient1.jpeg" alt="">
      </div>
    </div>
    <div class="middelBox">
      <!-- <div class="stetoscope">
        <img src="assets/patients/stetoscope.jpg" alt="">
        <p>20 patients</p>
      </div> -->
      <div class="rdvIcone">
        <img class="iconeRDV" src="assets/patients/rdvIcone.jpg" alt="">
        <p>5 Rendez-vous</p>
      </div>
    </div>

    <div class="fonctionnalitee">
      <ion-card>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-thumbnail slot="start">
                <img alt="Gestion des rdvs" src="assets/patients/rdv.png" />
              </ion-thumbnail>
              <ion-label><p style="font-size: 16px; font-family: 'poppins',sans-serif; font-weight: bold;color: #333;">Gérer vos rendez-vous</p></ion-label>
            </ion-item>
      
            <ion-item>
              <ion-thumbnail slot="start">
                <img alt="Gérer les fichiers des patients" src="assets/patients/fichpatient.jpg" />
              </ion-thumbnail>
              <ion-label><p style="font-size: 16px; font-family: 'poppins',sans-serif; font-weight: bold;color: #333;">Gérer vos consultations</p></ion-label>
            </ion-item>
      
            <ion-item>
              <ion-thumbnail slot="start">
                <img alt="documents patients" src="assets/patients/docs.jpg" />
              </ion-thumbnail>
              <ion-label><p style="font-size: 16px; font-family: 'poppins',sans-serif; font-weight: bold;color: #333;">Gérer les documents de vos patients</p></ion-label>
            </ion-item>
      
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img alt="gestion de patients" src="assets/patients/patienticone.jpg" />
              </ion-thumbnail>
              <ion-label><p style="font-size: 16px; font-family: 'poppins',sans-serif; font-weight: bold;color: #333;">Gérer les patients</p></ion-label>
            </ion-item>

            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img alt="Reglage" src="assets/patients/setting.png" />
              </ion-thumbnail>
              <ion-label><p style="font-size: 16px; font-family: 'poppins',sans-serif; font-weight: bold;color: #333;">Parametrage</p></ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
