
<!--<div id="main-content" >
  <ion-content [fullscreen]="true">
    
    <div class="banner relative h-[300px] overflow-hidden rounded-lg shadow-lg">
   
      <img src="assets/home/clinic.jpeg" alt="Clinic Banner" class="w-full h-full object-cover" />
    
      
      <div class="absolute inset-0 bg-black/40 flex flex-col justify-center items-center text-center p-4">
        
        <h1 class="text-4xl font-bold text-white mb-4">
          Take Care<br>
          <span class="text-2xl font-medium">Your Health is Important</span>
        </h1>
    
        
        <div class="subscribeButton mt-6 mb-10" routerLink="/authentification">
          <ion-button class="subscribe-btn"  shape="round" >
            Se connecter
          </ion-button>
        </div>
      </div>
    
   
      <div class="search-container absolute bottom-0 left-0 right-0 mx-4 mb-4">
        <ion-searchbar
          placeholder="Search for doctors, services..."
          show-clear-button="always"
          clear-icon="close-circle"
          class="custom-searchbar rounded-full shadow-lg"
        ></ion-searchbar>
      </div>
    </div>
    

    
    
    <div class="services">
      <h2 class="text-5xl mt-12 mb-14 font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-[#06668C] via-[#228fb9] to-[#228fb9] drop-shadow-lg tracking-wide uppercase">
        Nos Services
      </h2>
      <div class="service-list">
        @for (item of serviceListe; track $index) {
          <div class="w-full sm:w-[380px] md:w-[450px] lg:w-[500px] p-4 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 relative flex flex-col items-start m-4">
  
            
            <img [src]="item.img" 
                 alt="Icone Cardiologie" 
                 class="w-16 h-16 rounded-full  border-white ">
            
            
            <div class="mt-4">
              <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">Service {{item.nomService}}</p>
              <a href="#" class="inline-flex font-medium items-center text-[#06668C] hover:underline">
                Personnels de service
              </a>
            </div>
          
          </div>
        }
      </div>
    </div>


    <div class="aboutUs mb-24 mt-14 bg-gradient-to-r from-[#06668C] to-[#228fb9] px-8 py-12 rounded-3xl shadow-2xl transform transition-transform duration-500 hover:scale-105 relative overflow-hidden">
      
      <div class="absolute inset-0 bg-[url('/assets/wave.svg')] bg-cover bg-center opacity-20"></div>
    
      
      <h2 class="text-4xl mb-10 font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-white to-[#d6f2ff] drop-shadow-2xl tracking-wide uppercase text-center">
        Qui Sommes-Nous ?
      </h2>
    
      
      <div class="max-w-2xl mx-auto text-center bg-white/20 backdrop-blur-sm rounded-2xl p-6 shadow-lg">
        <p class="text-white text-lg leading-relaxed mb-6">
          Clinic Saada, située au cœur de Tunis, est un établissement de santé de premier plan, offrant une gamme complète de services médicaux. Notre équipe de professionnels expérimentés est dédiée à assurer votre santé et votre bien-être.
        </p>
        <p class="text-white text-lg leading-relaxed mb-6">
          Nous nous engageons à fournir des soins de haute qualité, dans un environnement moderne et accueillant. Que ce soit pour une consultation de routine ou un traitement spécialisé, Clinic Saada est là pour vous accompagner à chaque étape.
        </p>
      </div>
    
      <button class="mt-8 px-8 py-3 bg-gradient-to-r from-white to-[#d6f2ff] text-[#06668C] font-semibold rounded-full hover:from-[#d6f2ff] hover:to-white transition-all duration-300 transform hover:scale-110 shadow-lg hover:shadow-2xl">
        En savoir plus
      </button>
    </div>



    <div class="doctors">
      <h2 class="text-5xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-[#06668C] via-[#228fb9] to-[#228fb9] drop-shadow-lg tracking-wide uppercase">
        Our Doctors
      </h2>
      
      <div class="doctor-list" >
        
        @for (item of doctorListe; track $index) {
          <div class="flex flex-col bg-white shadow-sm border border-slate-200 rounded-lg my-6 w-96" style="border-width: 5px; border-color: #06668C;">
            <div class="m-2.5 overflow-hidden rounded-md h-80 flex justify-center items-center">
              <img class="w-full h-full object-cover" [src]="item.img" alt="profile-picture" />
            </div>
            <div class="p-6 text-center">
              <h4 class="mb-1 text-xl font-semibold text-slate-800">
                {{item.nom+" "+item.prenom}}
              </h4>
              <p
                class="text-sm font-semibold text-slate-500 uppercase">
                {{item.speciality}}
              </p>
              <p class="text-base text-slate-600 mt-4 font-light ">
                  {{item.description}}
              </p>
              <p class="text-base text-slate-600 mt-4 font-light ">
                {{item.disponibiliteActuelle}} <span> {{item.lieuLocal}}</span>
              </p>
            </div>
            <div class="flex justify-center p-6 pt-2 gap-7">
              <button class="min-w-32  rounded-md bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" 
              (click)="navigatTo('/')"
              type="button">
                consulter
              </button>
            </div>
          </div>
        }
        
      </div>
    </div>


 
    <div class="contact mt-24 bg-gradient-to-r from-[#06668C] to-[#228fb9] px-6 py-8 rounded-3xl shadow-2xl">
      <h2 class="text-3xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-white to-[#d6f2ff] drop-shadow-2xl tracking-wide uppercase text-center mb-8">
        Contact Us
      </h2>
      <form class="max-w-2xl mx-auto">
        
        <ion-item class="mb-6 bg-white/20 backdrop-blur-sm rounded-2xl shadow-lg">
          <ion-label position="floating" class="text-white">Name</ion-label>
          <ion-input type="text" class="text-white"></ion-input>
        </ion-item>
    
      
        <ion-item class="mb-6 bg-white/20 backdrop-blur-sm rounded-2xl shadow-lg">
          <ion-label position="floating" class="text-white">Email</ion-label>
          <ion-input type="email" class="text-white"></ion-input>
        </ion-item>
    
        <ion-item class="mb-6 bg-white/20 backdrop-blur-sm rounded-2xl shadow-lg">
          <ion-label position="floating" class="text-white">Message</ion-label>
          <ion-textarea class="text-white"></ion-textarea>
        </ion-item>
    
      
        <ion-button expand="block" shape="round" class="mt-6 bg-gradient-to-r from-white to-[#d6f2ff] text-[#06668C] font-semibold hover:from-[#d6f2ff] hover:to-white transition-all duration-300 transform hover:scale-105 shadow-lg hover:shadow-2xl">
          Evoyer
        </ion-button>
      </form>
    </div>
  </ion-content>
</div>-->